body {
    background-size: cover;
}

#heading {
    font-size: 40px;
    font-weight: bold;
    color: purple;
    background: pink;
    width: 100%;
    top: 0;
    margin-top: 0;
    line-height: 1.5;
}

.results {
    font-size: 18px;
    color: purple;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: pink;
    color: purple;
    text-align: center;
    line-height: 3;
}

canvas {
    border: 2px solid pink;
    border-radius: 10px;
    margin-top: 150px;
    box-shadow: 10px 10px 10px purple;
}